#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Browser Demux
Keywords=Internet;WWW;Browser;Web
Exec=browser-demux %u
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=false
